* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 80vh;
  width: 100%;
  background: linear-gradient(rgba(3, 28, 72, 0.988), rgba(0, 0, 255, 0.9));
  background-position: center;
  background-size: cover;
  position: relative;
}
.header img {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 0 40px;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
}
.cont {
  flex-basis: 60%;
  text-align: left;
}
.cont h1 {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.cont p {
  color: #fff;
  font-size: 20px;
}
/*--------header--------*/
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  padding: 12px 0;
}

.logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.nav-links {
  flex: 1;
  display: flex;
  align-items: right;
  justify-content: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.hom {
  color: blue;
}
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(19, 179, 238);
  margin: auto;
  display: block;
  transition: 0.5s;
}
.nav-links ul li :hover::after {
  width: 100%;
}
select {
  border-style: none;
  outline-style: none;
  background: transparent;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
select:hover {
  background: rgb(19, 179, 238);
}
input {
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid rgb(19, 179, 238);
  color: #fff;
  background: transparent;
  height: 30px;
  cursor: pointer;
  transition: 1s;
}
input:hover {
  background: rgb(19, 179, 238);
}
.button-sty {
  background: rgb(19, 179, 238);
  transition: 0.5s;
}
.button-sty:hover {
  background: rgb(114, 209, 243);
}
.button-click {
  display: flex;
  align-items: center;
}
.button-click .vid-but {
  text-decoration: none;
}
.vid-but {
  display: flex;
  align-items: center;
}
.button-click .vid-but p {
  font-size: 15px;
}
.vid-but .fa {
  font-size: 2em;
  color: #fff;
  margin-left: 15px;
  margin-right: 5px;
}
nav .fa {
  display: none;
}
@media (max-width: 1000px) {
  .cont {
    margin-top: 80px;
  }
  .cont h1 {
    font-size: 30px;
  }
  .cont p {
    font-size: 16px;
    margin-top: 15px;
  }
  .button-click {
    margin-top: 30px;
  }
  .nav-links ul a {
    display: block;
  }
  .nav-links {
    display: block;
    background: rgb(8, 220, 244);
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 80vh;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  select {
    padding-left: 30px;
  }
  .get-button {
    padding-left: 30px;
  }
}
/*---------footer-------*/
.logo-companies {
  height: 50px;
  width: 100px;
}
.logo-companies img {
  height: 50px;
  width: 100%;
}
.columb {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.footer {
  margin-top: 30px;
}
.media {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
@media (max-width: 700px) {
  .media {
    display: block;
  }
  .logo-companies {
    height: 30px;
    width: 70px;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 30px;
  }
  .logo-companies img {
    width: 100%;
  }
  .footer {
    margin-top: 10px;
  }
}
.logo-companies img {
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.5s;
}
.logo-companies img:hover {
  filter: contrast(100%);
}
